<div class="jumbotron" xmlns="http://www.w3.org/1999/html">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <h2>Order</h2>
        <div class="form-group">
          <label for="home-address">Home Address</label>
        </div>
        <div class="form-group">
          <input required class="form-control" ngx-google-places-autocomplete #placesRef="ngx-places" [(ngModel)]="order.home_address"/>
        </div>
        <div class="form-group">
          <label for="shop-address">Shop Address</label>

        </div>
        <div class="form-group">
          <input class="form-control" ngx-google-places-autocomplete #placesRef="ngx-places" [(ngModel)]="order.shop_address"/>
        </div>
        <div class="form-group">
          <label for="item">Item</label>
          <input type="text" class="form-control" [(ngModel)]="order.item"/>
        </div>
        <div class="form-group">
          <label for="quantity">Quantity</label>
          <input type="number" class="form-control" [(ngModel)]="order.quantity"/>
        </div>
        <div class="form-group">
          <label for="unit-price">Unit Price</label>
          <input type="number" class="form-control" [(ngModel)]="order.unit_price"/>
        </div>
        <div class="form-group">
          <input type="button" class="btn btn-primary form-control" value="Order" (click)="open(content)">
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Order details</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="distance">Distance: {{order.distance}} m</label>
    </div>
    <div class="form-group">
      <label for="commission">Commission: {{order.commission}} $</label>
    </div>
    <div class="form-group">
      <label for="total-price">Total Price: {{order.total_price}} $</label>
    </div>
  </div>
  <div class="modal-footer">
    <h4 class="modal-title">Do you wish to proceed?</h4>
    <button type="button" class="btn btn-outline-dark" (click)="d('Cross click')">No</button>
    <button type="button" class="btn btn-outline-dark" (click)="d('Cross click')">Yes</button>
  </div>
</ng-template>



